h1 {
    color: #333333;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
}
h2 {
    color: #333333;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Asap', sans-serif;
}
p {
    color: #000000;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}
.headerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 10;
    position: relative;
    justify-content: center;
    height: 200px;
    margin-bottom: 20px;
    background-color:#ffffff;
    box-shadow: 0px 10px 20px #00000010;
}
.headerContentMain {
    position: relative;
    height: 100%;
    width: 60%;
}
.headerContentSecondary{
    height: 200px;
    width: 200px;
}
.headerContentPortrait{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 10px;
    background: linear-gradient(to bottom left, #009fe3, #522583)
}
.headerContentContactWrapper {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
}
.headerContentContact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Asap', sans-serif;
    margin-top: 6%;
    margin-bottom: 6%;
}
.contactIconWrapper {
    display: flex;
    order: 1;
    height: 30px;
    width: 30px;
    background-color: rgb(196, 196, 196);
    border-radius: 50%;
}
.contactText {
    order: 2;
    color: #009fe3;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}
.contactIcon{
    height: 16px;
    width: 16px;
    margin: auto;
}
.headerPadding{
    min-width: 10%;
}
.footer {
    width: 100%;
    height: 80px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.contentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
}
.contentItem {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 10px 10px 20px 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px #00000015, inset 0px 0px 40px #00000005;
    border-radius: 12px;
    transition: all .2s ease-in-out;
}
.contentItem:hover{
    transform: scale(1.02);
    box-shadow: 0px 6px 20px #00000020;
}
.contentTitleWrapper {
    align-self: flex-end;
    width: 100%;
    margin-bottom: 10%;
}
.contentTitle {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
    font-family: 'Asap', sans-serif;
    text-shadow: 0px 0px 20px #00000050;
}
.contentSubTitle {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    font-family: 'Asap', sans-serif;
    padding-top: 2%;
    text-shadow: 0px 0px 20px #00000050;
}
.itemKeno {
    background: linear-gradient(to bottom left, #009fe3, #522583)
}
.itemRaceday {
    background: linear-gradient(to bottom left, #4aaa46, #17420e)
}
