h1 {
    color: #7c7c7c;
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
}
h2 {
    color: #c4c4c4;
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
}
p {
    color: #5e5e5e;
    font-size: 1.2em;
    font-family: 'Nunito', sans-serif;
}
b {
    font-weight: 700;
}
a {
    text-decoration: none;
}
hr {
    width: 80%;
    opacity: 0.2;
}
.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(to bottom, #fff, #d9f4ff);
}
.body {
    padding-bottom: 80px;
}
.headerWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 10;
    position: relative;
    justify-content: center;
    height: 200px;
    background-color:#ffffff;
    box-shadow: 0px 10px 20px #00000010;
}
.headerContentMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.headerTitle {
    order: 1;
    font-weight: 300;
}
.headerSubTitle {
    order: 2;
    font-weight: 400;
}
.headerContentSecondary{
    height: 200px;
    width: 140px;
}
.headerContentPortrait{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 30px;
    background-image: linear-gradient(to bottom left, #009fe342, #5225839f), url("assets/profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.headerContentContactWrapper {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    margin-top: 0%;
}
.headerContentContact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Asap', sans-serif;
    margin-top: 6%;
    margin-bottom: 2%;
}
.contactIconWrapper {
    display: flex;
    order: 1;
    height: 30px;
    width: 30px;
    background-color: #009fe3;
    border-radius: 50%;
}
.contactText {
    order: 2;
    color: #009fe3;
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}
.contactIcon{
    height: 20px;
    width: 20px;
    margin: auto;
}
.headerPadding{
    min-width: 20%;
}
.filterWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.filter, .filterInactive {
    font-size: 2em;
    padding: 10px 30px 10px 30px;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #afafaf;
    background-color: #ffffff00;
    border: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.filter:active, .filterActive{
    color: #009fe3;
}
.filter:hover{
    color: #009fe375;
}
.filter:focus {
    outline: 0;
}
.contentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    max-width: 1400px;
    margin: auto;
}
.contentImage {
    height: 300px;
    position: absolute;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.contentImageWhiteGrade {
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff79, #ffffff00);
}
.contentItem {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 10px 10px 20px 10px;
    background-color: #ffffff;
    background-size: 400% 400%;
    background-position: 0% 50%;
    box-shadow: 0px 5px 20px #00000015, inset 0px 0px 40px #00000005;
    border-radius: 12px;
    overflow: hidden;   
}
.contentItem:hover {
    box-shadow: 0px 6px 20px #00000046;
    opacity: 1;
    animation: itemHoverAnim 8s ease infinite;
}

.contentTitleWrapper {
    align-self: flex-end;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 10%;
    border-radius: 12px;
    z-index: 2;
}
.contentTitle {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 2px 5px #000, 0px 0px 8px #000, 0px 0px 20px #000;
}
.contentSubTitle {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    font-family: 'Asap', sans-serif;
    padding-top: 2%;
    text-shadow: 0px 2px 10px #000000;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px -10px 10px #00000025;
}
.footerText{
    color: #cecece;
    font-family: 'asap', sans-serif;
    font-size: 1em;
}
.linkSpan {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: -300px;
    z-index: 2;
}
/* GAME CASE -------------------------------------------- */
.itemGameCase {
    background: linear-gradient(to bottom left, #16183f, #373963, #16183f);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
@keyframes itemHoverAnim {
    0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}
/* KENO 1 -------------------------------------------- */
.itemKeno1 {
    background: linear-gradient(to bottom left,#ac790b, #ffb71c, #e27900, #884e0b);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* KENO 2 -------------------------------------------- */
.itemKeno2 {
    background: linear-gradient(to bottom left, #005c83, #009fe3, #522583, #2f1150);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* RACEDAY -------------------------------------------- */
.itemRaceday {
    background: linear-gradient(to bottom left, #63b960, #4aaa46, #17420e, #0c2c06);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* GAME TRACK -------------------------------------------- */
.itemGameTrack {
    background: linear-gradient(to bottom left, #229BB1, #198063);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* POSITION ONE  -------------------------------------------- */
.itemPositionOne {
    background: linear-gradient(to bottom left, #E8F5F4, #279289);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* RAISING GAMERS -------------------------------------------- */
.itemRaisingGamers {
    background: linear-gradient(to bottom left, #cc99ff, #fff, #8affa3);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* ITS BAM -------------------------------------------- */
.itemItsBam {
    background: linear-gradient(to bottom left, #779fac, #2A3A41);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* WARCRAFT -------------------------------------------- */
.itemWarcraft {
    background: linear-gradient(to bottom left, #8AC3C4, #885619);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* WRITING -------------------------------------------- */
.itemWriting {
    background: linear-gradient(to bottom left, #95aeff, #082da5);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* SPEAKING -------------------------------------------- */
.itemSpeaking {
    background: linear-gradient(to bottom left, #97ff35, #0b6e59);
    background-size: 400% 400%;
    background-position: 0% 50%;
}
/* TAG STUFF -------------------------------------------- */
.tagWrapper {
    align-self: flex-start;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 295px;
    padding-left: 5px;
    z-index: 2;
}
.tagWrapperBig {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.tag {
    margin-top: 10px;
    margin-left: 4px;
    background-color: rgb(255, 107, 107);
    height: 20px;
    min-width: 40px;
    border-radius: 20px;
    padding: 0px 6px 0px 6px;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 20px;
    box-shadow: 0px 1px 10px #00000031;
}
.tagBig {
    margin-top: 10px;
    margin-left: 4px;
    background-color: rgb(255, 107, 107);
    height: 30px;
    min-width: 40px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 1px 10px #00000031;
}
.ux {
    background-color: #65adff;
}
.ui {
    background-color: #ffb765;
}
.mobile {
    background-color: #51c8d8;
}
.web {
    background-color: #91df63;
}
.product {
    background-color: #e25763;
}
.game {
    background-color: #c165ff;
}
.animation {
    background-color: #586ecf;
}
.development {
    background-color: #5a5a5a;
}
.writing {
    background-color: #ddba1f;
}
/* FOLIO STUFF -------------------------------------------- */

.folioContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 5px 50px #0000002f;
}
.folioHeaderWrapper {
    width: 100%;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.folioTitle {
    color: #474747;
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: 'Asap', sans-serif;
    text-transform: uppercase;
}
.folioSubTitle {
    color: #7c7c7c;
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    font-family: 'Asap', sans-serif;
}
.folioChapterHeading {
    color: #fff;
    background-color: #474747;
    font-size: 2.2em;
    font-weight: 700;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom:80px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    width: 100%;
    box-shadow: 0px 8px 10px #00000027;
}
.folioChapterSubHeading {
    color: #474747;
    font-size: 1.8em;
    font-weight: 700;
    text-align: left;
    font-family: 'Asap', sans-serif;
    padding-bottom: 20px;
}
.folioChapterHeadingFullWidth {
    width: 100%;
    text-align: center;
}
.folioTextFullWidth{
    width: 80%;
    text-align: center;
    text-justify: inter-word;
    margin-bottom: 48px;
}
.folioImageFullWidth{
    width: 80%;
    margin-bottom: 12px;
    min-height: 200px;
}
.folioFigmaFullWidth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    min-height: 200px;
    margin-bottom: 12px;
}
.folioTextWithImage{
    width: 80%;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    text-justify: inter-word;
    min-height: 200px;
}
.folioTextHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    vertical-align: center;
}
.folioImageHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    min-height: 600px;
}
.folioLeft{
    order: 1;
    width: 50%;
    justify-self: flex-start;
}
.folioRight{
    order: 2;
    width: 50%;
    justify-self: flex-end;
}
.folio75 {
    width: 75%;
}
.folio25 {
    width: 25%;
}
.folioImage {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: scale(0.95);
    transition: all .6s ease-in-out; 
}
.folioImage:hover {
    transform: scale(1);
}
.folioImageWide {
    width: 100%;
    height: auto;
    transform: scale(0.95);
    transition: all .6s ease-in-out; 
}
.folioImageWide:hover {
    transform: scale(1);
}
.folioImageTall {
    height: 100%;
    width: auto;
    transform: scale(0.95);
    transition: all .6s ease-in-out; 
}
.folioImageTall:hover {
    transform: scale(1);
}
.figmaEmbed {
    box-shadow: 0px 4px 30px #0000003d;
}